body {
  font-size: 18px;
  font-family: sans-serif;
  max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

p {
  line-height: 1.6;
}

img {
  max-width: 600px;
}

pre {
  white-space: pre-wrap;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}
